body {
	margin: 0;
}

#header {
	width: 100%;
	height: 80px;
	background-color: #005E7A;
	background-image: url('/images/bg-topo-principal.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right top;
	padding: 8px 16px 8px 16px;
}

#userInfo {
	float: right;
}

.columns {
	display: flex;
}

.columns nav {
	padding: 1em;
	flex: 0;
}

.columns main {
	padding: .5em;
	flex: 1;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

h1 {
	font-family: sans-serif;
	margin-top: 0;
	margin-bottom: 1em;
}

.columns main .ui-breadcrumb {
	border: 0;
	padding: 0;
	padding-left: 0.3em
}

body .ui-growl {
	left: 50%;
	right: auto;
	margin-left: -150px;
}