<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags">

<h:head>
	<ui:insert name="head">
		<title>Tribunal Regional Eleitoral da Bahia</title>
	</ui:insert>
	<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<h:outputStylesheet library="css" name="css/template.css" />
</h:head>

<h:body>

	<header id="header">
		<img src="images/bg-topo-principal.png" />
		<img src="images/logo-tre-ba.png" />
		<img src="images/seif.png" align="right"/>
	</header>
	
	<div class="columns">
	
		<nav>
			<h:form>
				<p:menu>
			        <p:submenu label="Inicial">
			            <p:menuitem value="Formulários" url="/" icon="pi pi-file" />
			            <p:menuitem value="PAD x SEI" url="/migrados" ajax="false" icon="pi pi-info"/>
			            <p:menuitem value="Localização" url="/localizacao" ajax="false" icon="pi pi-globe"/>
			        </p:submenu>
			        <sec:authenticated>
			         	<p:submenu label="SUPORTESEI">
				            <p:menuitem value="Redirecionados" url="/envios" ajax="false" icon="pi pi-replay"/>
				            <sec:authorize access="hasAuthority('enviarProcesso')">
				            	<p:menuitem value="Pendentes" url="/pendentes" ajax="false" icon="pi pi-angle-double-right"/>
				            </sec:authorize>	
				            <sec:authorize access="hasAuthority('SEDESC')">
				            	<p:menuitem value="Protocolos" url="/protocolos" ajax="false" icon="pi pi-users"/>
				            </sec:authorize>	
				        </p:submenu>  
			        	<p:submenu label="#{request.remoteUser}">
				            <p:menuitem value="Sair" url="/logout" ajax="false" icon="pi pi-sign-out" />
				        </p:submenu>
				    </sec:authenticated>
			        <sec:anonymous>
		        		<p:submenu label="Acesso">
			        		<p:menuitem value="Entrar" url="/login" ajax="false" icon="pi pi-sign-in" />
				        </p:submenu>
			        </sec:anonymous>
	    		</p:menu>
	    	</h:form>
		</nav>
		
		<main>
			<ui:insert name="content">
	
			</ui:insert>
		</main>
		
		<p:confirmDialog global="true">
	        <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
	        <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
		</p:confirmDialog>
	
	</div>

</h:body>
</html>