<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="_template.xhtml">

	<!-- <f:metadata>
			<f:viewParam name="registroId" value="#{registroBean.clienteId}" />
			<f:viewAction action="#{clienteBean.carregarClientePelaId}" if="#{param.clienteId != null}" />
		</f:metadata> -->

	<ui:define name="titulo">
		<!-- 	<h:outputPanel>Novo Usuário</h:outputPanel> -->
		<h:panelGrid id="grid" columns="1" />
	</ui:define>

	<ui:define name="conteudo">
		<h:form id="registro">

			<fieldset style="width: 0px">
				<legend>Fale Conosco </legend>
				<h:panelGrid columns="1">



					<h:outputLabel value="Nome:" for="nome" />
					<h:inputText id="nome" value="#{registroBean.registro.nome}"
						required="true" size="60" maxlength="100">
						<f:validateLength minimum="4" />
						<f:attribute name="type" value="nome" />
						<f:passThroughAttribute name="placeholder" value="Nome" />
						<f:ajax event="blur" render="messageNome" />
					</h:inputText>
					<h:message for="nome" id="messageNome" />


					<h:outputLabel value="eMail :" for="email" />
					<h:inputText id="email" value="#{registroBean.registro.email}"
						required="true" validatorMessage="Email  inválido" size="60"
						maxlength="100">

						<f:attribute name="type" value="email" />
						<f:passThroughAttribute name="placeholder"
							value="eMail do usuário" />


						<f:validateRegex pattern=".+@.+" />
						<f:ajax event="blur" render="email" />
					</h:inputText>
					<h:message for="email" id="messageEmail" />

					<h:outputLabel for="@next" value="Você deseja fazer... *" />
					<h:selectOneMenu id="tipoassunto"
						value="#{registroBean.registro.tipocontato}" width="60">
						<!-- <f:selectItem itemLabel="Select One" itemValue="" /> -->
						<f:selectItem itemLabel="Elogio"     itemValue="1" />
						<f:selectItem itemLabel="Reclamação" itemValue="2" />
						<f:selectItem itemLabel="Sugestão"   itemValue="3" />
					</h:selectOneMenu>




					<h:outputLabel value="Comentário " for="comentario" />
					<h:inputTextarea id="comentario"
						value="#{registroBean.registro.comentario}" rows="6" cols="60"
						counter="display" maxlength="100" required="true"
						counterTemplate="{0} caracteres restantes.">
						<f:validateLength minimum="4" />
						<f:attribute name="type" value="comentario" />
						<!-- 			<f:passThroughAttribute name="placeholder" value="Nome" /> -->
						<f:ajax event="blur" render="mensagemComentario" />
					</h:inputTextarea>
					<h:outputText id="display" />
					<h:message for="nome" id="messageComentario" />

					<h:commandButton value="Enviar" action="#{registroBean.gravar}"
						process="@form" update="@form " resetValues="true" />
				</h:panelGrid>
			</fieldset>
		</h:form>


	</ui:define>

</ui:composition>

</html>