<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:body>
	<h:dataTable value="#{registroBean.registros}" var="registro"
		border="2" cellspacing="1" cellpadding="1">
		 <f:facet name="header">Verificacao de registros de comunicações de clientes</f:facet>
 		
 		<h:column>
			<f:facet name="header">Nome</f:facet>
					#{registro.nome}
				</h:column>

		<h:column>
			<f:facet name="header">Email</f:facet>
					#{registro.email}
				</h:column>

		<h:column>
			<f:facet name="header">Comentário</f:facet>
					#{registro.comentario}
				</h:column>

	</h:dataTable>
</h:body>
</html>